{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <a href="{% url 'sobre' %}" class="nav-link border-bottom">
            <div class="row mb-4 rounded">
                {% if destaque.imagem %}
                    <div class="col-md-2">
                        <img src="{{ destaque.imagem.url }}" class="img-thumbnail img-destaque">
                    </div>
                    <div class="col-md-10">
                {% else %}
                    <div class="col-md">
                {% endif %}
                        <div class="card-body">
                            <h1 class="card-title">{{ destaque.titulo }}</h1>
                            <p class="card-text"><em>{{ destaque.subtitulo }}</em></p>
                            <p class="card-text"><i class="bi bi-pen"></i><small class="text-body-secondary"> {{ destaque.autor }}</small></p>
                            <p class="card-text"><i class="bi bi-calendar"></i><small class="text-body-secondary"> {{ destaque.criado_em }}</small></p>
                        </div>
                    </div>
            </div>
        </a>

        <div class="row my-4">
            <div class="col-md-10">
                <h2>Últimos posts</h2>
                <ul class="list-group list-group-flush">
                    {% for post in posts %}
                        <li class="list-group-item">
                            <div class="row py-2">
                                <div class="col-md-2">
                                    <div class="data-post"><i class="bi bi-calendar"></i><small class="text-body-secondary"> {{ post.criado_em|date:"d/m/Y" }}</small></div>
                                    <div class="data-post"><i class="bi bi-clock"></i><small class="text-body-secondary"> {{ post.criado_em|date:"H:i" }}</small></div>
                                    <div class="autor-post"><i class="bi bi-pen"></i><small class="text-body-secondary"> {{ post.autor.nome }}</small></div>
                                </div>
                                <div class="col">
                                    <div class="titulo-post"><h5><strong>{{ post.titulo }}</strong><h5></div>
                                    <div class="texto-post"><em>{{ post.subtitulo }}</em></div>
                                    <div class="tags">
                                        {% for tag in post.tags.all %}
                                            <span class="badge rounded-pill text-bg-secondary"><i class="bi bi-tag"></i> {{ tag }}</span>
                                        {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="row text-end">
                    <a href="{% url 'posts' %}">
                        <span class="badge rounded-pill text-bg-dark">Ver tudo</span>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row">
                    <h3>Tags</h3>
                    {% for tag in tags %}
                        <div class="tag">
                            <a href="{% url 'posts' %}?tag={{ tag.nome }}" class="nav-link">
                                    {{ tag.nome }} ({{ tag.num_posts }})
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="row py-4">
                    <h3>Autores</h3>
                    {% for autor in autores %}
                        <div class="tag">
                            <a href="{% url 'posts' %}?autor={{autor.nome}}" class="nav-link">
                                    {{ autor.nome }} ({{ autor.num_posts }})
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>    
        </div>
    </div>
{% endblock %}


